<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Copyright &copy; 2022 - <a href="https://www.linkedin.com/in/omaralezzi/">Al-Ezzi</a></p>
               
            </div>
        </div>
    </div>


</body>
</html>
